<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

    <main>
      <div class="container">
        <div>
          <h2>Agregar Color</h2>
          <form class="form" action="/admin/new-color" method="post">
            <div>
              <label for="color">Nombre</label>
              <input
                type="text"
                name="color"
                id="name"
                placeholder="Amarillo"
                required
              />
            </div>
            <div>
              <label for="code">Codigo de color</label>
              <input
                type="text"
                name="code"
                id="code"
                placeholder="#2298"
                required
                maxlength="7"
              />
            </div>

            <button type="submit">Agregar color</button>
          </form>
        </div>

        <div>
          <h2>Agregar Categoria</h2>
          <form class="form" action="/admin/new-category" method="post">
            <div>
              <label for="typeBike">Nombre</label>
              <input
                type="text"
                name="typeBike"
                id="name"
                placeholder="MTB"
                required
              />
            </div>

            <button type="submit">Agregar categoria</button>
          </form>
        </div>
      </div>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
