<footer>
    <div class="startFoot">
        <div class="logo">
            <a href="/">
                <img src="/images/MoviGo.png" alt="MoviGo Logo">
            </a>
        </div>
        
        <div class="socialLinks">
            <span class="social">
                <a href="https://facebook.com" aria-label="facebook"><i class="bi bi-facebook"></i></a>
            </span>
            <span class="social">
                <a href="https://instagram.com" aria-label="instagram"><i class="bi bi-instagram"></i></a>
            </span>
            <span class="social">
                <a href="https://whatsapp.com" aria-label="whatsapp"><i class="bi bi-whatsapp"></i></a>
            </span>
        </div>
    </div>
    <div class="endFoot">
        Todos los Derechos Reservados &copy;
    </div>
</footer>