<header>
    <div class="headerOptions">
        <a href="/">
            <i class="bi bi-x"></i>
        </a>
        <div class="btnHome"><a href="<%= link %>"><%= texto %></a></d>
    </div>
</header>

