<!--Header home-->
<header>
  <div class="logo">
    <img src="/MoviGo.png" alt="MoviGo Logo" />
  </div>

  <nav class="navegation">
    <i class="bi bi-list" id="menu-toggle"></i>
  </nav>

  <nav class="navegationDesk" id="menu">
    <ul>
      <li><i class="bi bi-search"></i></li>
      <li><a href="/">Home</a></li>
      <li><a href="/products/list">Lista</a></li>
      <% if (locals.isLogged) { %>
        <li><a href="/users/profile">Perfil</a></li>
        <li><a href="/users/logout">Cerrar sesión</a></li>
        <li><a href="/products/cart">Carrito</a></li>
        <% } else { %>
          <li><a href="/users/login">Iniciar sesión</a></li>
        <% } %>
    </ul>
  </nav>
</header>

<script>
  document.getElementById("menu-toggle").addEventListener("click", () => {
    document.getElementById("menu").classList.toggle("active");
  });
</script>