<header class="headerLogAndReg">
    <div class="logo"><a href="/index"><img src="/images/logoPrincipalW.png" alt="logoCellXpress"></a></div>
    <span class="registerAndLoginLink"><a href="<%= link %>"><%= texto %></a></span>
</header>

