<!--Header home-->

<header>
    <div class="logo">
        <img src="../../images/logoPrincipalW.png" alt="logoCellXpress">
    </div>
    
    <nav class="navegation">
        <i class="bi bi-list"></i>
    </nav>
</header>