<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/MoviGo.png" type="image/x-icon">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/mainCart.css">
    <link rel="stylesheet" href="/stylesheets/mainDetail.css">
    <link rel="stylesheet" href="/stylesheets/formCRE-EDI.css">
    
    <!--Recursos generales-->
    <link rel="stylesheet" href="/stylesheets/gral.css">
    <link rel="stylesheet" href="/stylesheets/footerGral.css">
    <link rel="stylesheet" href="/stylesheets/headerGral.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>MoviGo</title>
</head>