<header>
    <div class="headerOptions">
        <a href="/">
            <i class="bi bi-x"></i>
        </a>
        <span><a href="<%= link %>"><%= texto %></a></span>
    </div>

    <div class="logo">
        <img src="/images/MoviGo.png" alt="">
    </div>
    
</header>

