* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: black;
    padding: 0 2%;
}

.navbar{
    font-size: 32px;
}

.logo{
    width: 7%;
}

.logo img{
    width: 100%;
}

.test{
    display: flex;
}

.test .search, .cart{
    font-size: 30px;
    margin: 0 10px;
}