<!DOCTYPE html>
<html lang="en">
 
<%- include('partials/head') %>

<body>
    
    <%- include('partials/header') %>

    <main>
        <article class="carrousel">
            <img src="images/carrousel1.jpeg" alt="carrousel">
        </article>

        <section class="cards">
            <h2>Marcas</h2>
    <% brands.forEach(brand => { %>
        <div class="card">
            <div class="titleProduct">
                <%= brand.nameBrand %>
            </div>
        </div>
    <% }) %>
</section>

    </main>

    <%- include('partials/footer') %>


</body>
</html>