<!DOCTYPE html>
<html lang="en">
 
<%- include('partials/head') %>

<body>
    
    <%- include('partials/header') %>

    <main>
        <article class="carrousel">
            <img src="images/carrousel1.jpeg" alt="carrousel">
        </article>

        <section class="cards">
            <h2>Marcas</h2>
            <div class="card">
                <div class="contentCard">
                    <img src="images/olmo.jpg" alt="Olmo">
                </div>
                <div class="titleProduct">
                    Olmo
                </div>
            </div>
            <div class="card">
                <div class="contentCard">
                    <img src="images/venzo.jpg" alt="Venzo">
                </div>
                <div class="titleProduct">
                    Venzo
                </div>
            </div>
            <div class="card">
                <div class="contentCard">
                    <img src="images/specialized.jpg" alt="Specialized">                    
                </div>
                <div class="titleProduct">
                    Specialized
                </div>
            </div>
            <div class="card">
                <div class="contentCard">
                    <img src="images/raleigh.jpg" alt="Raleigh">
                </div>
                <div class="titleProduct">
                    Raleigh
                </div>
            </div>
        </section>
    </main>

    <%- include('partials/footer') %>


</body>
</html>