<!DOCTYPE html>
<html lang="en">
 
<%- include('partials/head') %>

<body>
    
    <%- include('partials/header') %>

    <main>
        <article class="carrousel">
            <img src="images/image1.jpg" alt="">
        </article>

        <section class="moreArticles">
            <ul>
                <li>
                    <img src="images/LogoApple.jpg" alt="logoApple">
                </li>
                <li>
                    <img src="images/LogoMotorola.jpg" alt="logoMotorola">
                </li>
                <li>
                    <img src="images/LogoSamsung.jpg" alt="logoSamsung">
                </li>
                <li>
                    <img src="images/LogoXioami.jpg" alt="logoXiaomi">
                </li>
            </ul>
        </section>

        <section class="cards">
            <h2>Más productos</h2>
            <div class="card">
                <div class="contentCard">
                    <img src="images/auriculares.jpg" alt="auriculares">
                </div>
                <div class="titleProduct">
                    Auriculares
                </div>
            </div>
            <div class="card">
                <div class="contentCard">
                    <img src="images/monitor.jpg" alt="monitor">
                </div>
                <div class="titleProduct">
                    Monitores
                </div>
            </div>
            <div class="card">
                <div class="contentCard">
                    <img src="images/notebooks.jpg" alt="notebooks">                    
                </div>
                <div class="titleProduct">
                    Notebook
                </div>
            </div>
            <div class="card">
                <div class="contentCard">
                    <img src="images/TV.jpg" alt="TV">
                </div>
                <div class="titleProduct">
                    TV
                </div>
            </div>
        </section>
    </main>

    <%- include('partials/footer') %>


</body>
</html>