<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/cellXpress._logo.png" type="image/x-icon">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>CellXpress Home</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="images/cellXpress._logo.png" alt="logoCellXpress">
        </div>

        <nav class="navegation">
            <i class="bi bi-list"></i>
        </nav>
    </header>

    <main>
        <article class="carrousel">
            <img src="images/image1.jpg" alt="">
        </article>

        <section class="moreArticles">
            <ul>
                <li>
                    <img src="images/LogoApple.jpg" alt="logoApple">
                </li>
                <li>
                    <img src="images/LogoMotorola.jpg" alt="logoMotorola">
                </li>
                <li>
                    <img src="images/LogoSamsung.jpg" alt="logoSamsung">
                </li>
                <li>
                    <img src="images/LogoXioami.jpg" alt="logoXiaomi">
                </li>
            </ul>
        </section>

        <section class="cards">
            <h2>Más productos</h2>
            <div class="card">
                <div class="contentCard">
                    <img src="images/auriculares.jpg" alt="auriculares">
                </div>
                <div class="titleProduct">
                    Auriculares
                </div>
            </div>
            <div class="card">
                <div class="contentCard">
                    <img src="images/monitor.jpg" alt="monitor">
                </div>
                <div class="titleProduct">
                    Monitores
                </div>
            </div>
            <div class="card">
                <div class="contentCard">
                    <img src="images/notebooks.jpg" alt="notebooks">                    
                </div>
                <div class="titleProduct">
                    Notebook
                </div>
            </div>
            <div class="card">
                <div class="contentCard">
                    <img src="images/TV.jpg" alt="TV">
                </div>
                <div class="titleProduct">
                    TV
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="startFoot">
            <div class="logo">
                <a href="index.html">
                    <img src="images/cellXpress._logo.png" alt="logoCellXpress">
                </a>
            </div>
    
            <div class="socialLinks">
                <span>
                    <a href="#" aria-label="facebook"><i class="bi bi-facebook"></i></a>
                </span>
                <span>
                    <a href="#" aria-label="instagram"><i class="bi bi-instagram"></i></a>
                </span>
                <span>
                    <a href="#" aria-label="whatsapp"><i class="bi bi-whatsapp"></i></a>
                </span>
            </div>
        </div>
        <div class="endFoot">
            Todos los Derechos Reservados &copy;
        </div>
    </footer>
</body>
</html>