.SideBar {
    list-style: none; 
    margin: 0 20px 0 0;
    padding: 0;
    width: 200px; 
    background-color: lightgray; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); 
}

.SideBar li {
    padding: 15px 20px; 
    cursor: pointer;
}

.SideBar li a {
    text-decoration: none; 
    color: black; 
    display: block; 
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.SideBar li:hover {
    background-color: black; 
}

.SideBar li:hover a {
    color: white; 
}