/*
#D32F2F RED
#212121 BLACK SMOKE
#9E9E9E GRAY
White
*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: solid 2px yellow;
  background-color: #252525;
}

footer .startFoot {
  width: 94%;
  display: flex;
  flex-direction: row;
}

footer .startFoot .logo {
  width: 30%;
}

footer .startFoot .logo a img {
  width: 100%;
}

footer .socialLinks {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

footer .startFoot .social {
  margin: 4%;
}

footer .startFoot .social a {
  font-size: 30px;
  color: yellow;
}

footer .endFoot {
  width: 100%;
  padding: 2% 0;
  text-align: center;
  background-color: yellow;
  color: #252525;
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  footer .startFoot {
    width: 94%;
  }

  footer .startFoot .logo {
    width: 30%;
  }

  footer .startFoot .logo a img {
    width: 27%;
  }

  footer .endFoot {
    padding: 1% 0;
  }
}
