header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .headerOptions {
  width: 100%;
  padding-top: 5%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

header .headerOptions a {
  margin-right: 5%;
  text-decoration: none;
}

header .headerOptions a i {
  font-size: 35px;
  color: yellow;
  margin-right: 4%;
  text-decoration: none;
}

header .headerOptions .btnHome a {
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  border-radius: 12px;
  color: #252525;
  background-color: yellow;
}

header .headerOptions i,
.btnHome {
  text-align: center;
  margin: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  header {
    padding: 0 3%;
  }

  header .headerOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0;
  }

  header .headerOptions .btnHome {
    margin: 5% 0 3%;
  }
}
