.headerLogAndReg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3% 0;
    background-color: #212121;
    border-bottom: solid 2px #D32F2F;
}

.headerLogAndReg .logo{
    width: 30%;
}

.headerLogAndReg .logo img{
    width: 100%;
}

.headerLogAndReg .registerAndLoginLink{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerLogAndReg .registerAndLoginLink a{
    padding: 6%;
    border-radius: 12px;
    background-color: #D32F2F;
    color: white;
    text-decoration: none;
}