/*
#D32F2F RED
#212121 BLACK SMOKE
#9E9E9E GRAY
White
*/

body{
    margin: 0;
    padding: 0;
}

.mainLogin{
    padding: 8%;
}

.mainLogin .imgMed{
    display: none;
}

.mainLogin .formularyLogin{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: lightgray;
    border-radius: 12px;
}

.mainLogin .formularyLogin .formularyL{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
}

.mainLogin .formularyLogin .formularyL .textLabel{
    margin: 4% 0 1%;
}

.mainLogin .formularyLogin .formularyL, a{
    margin: 4% 0 4%;
    color: black;
}

.mainLogin .formularyLogin .formularyL .sub{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainLogin .formularyLogin .formularyL .sub #input{
    width: 99%;
    margin: 1%;
    padding: 4%;
    border-radius: 12px;
    border: none;
}

#email, #password{
    width: 90%;
    margin: 1%;
    padding: 4%;
    border-radius: 12px;
    border: none;
}

