.headerCart{
    align-items: center;
    padding: 5% 4%;
}

.back .bi-arrow-left{
    font-size: 40px;
}

.back, i, .cartTitle{
    color: yellow;
}

main .products, img{
    width: 100%;
}

main p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30%;
    color: white;
    text-align: center;
}

@media screen and (min-width: 1024px){
    .headerCart{
        padding: 0 4%;
    }

    main .products, img{
        width: 50%;
    }

    main .cartM{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    main .cartM p{
        margin-bottom: 10%;
    }
    
}