.sectionProfile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgProfile{
    width: 65%;
}

.imgProfile img{
    border-radius: 100% ;
    border: solid yellow;
    margin-top: 10%;
}

.dateProfile{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 4% 0 4% 0;
}

.dateProfile h3{
    margin-left: 4%;
}

@media screen and (min-width: 1024px){
    .sectionProfile{
        display: flex;
        flex-direction: row;
    }
    
    .imgProfile{
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imgProfile img{
        width: 70%;
        margin: 0;
    }

    .dateProfile{
        width: 70%;
    }

    
}