/*
#D32F2F RED
#212121 BLACK SMOKE
#9E9E9E GRAY
White
*/

body{
    margin: 0;
    padding: 0;
}

.mainRegister{
    padding: 8%;
}

.mainRegister .imgMed{
    display: none;
}

.mainRegister .formularyRegister{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: lightgray;
    border-radius: 12px;
}

.mainRegister .formularyRegister .formularyR{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
}

.mainRegister .formularyRegister .formularyR .textLabel{
    margin: 4% 0 1%;
}

.mainRegister .formularyRegister .formularyR, a{
    margin: 4% 0 4%;
    color: black;
}

.mainRegister .formularyRegister .formularyR .sub{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainRegister .formularyRegister .formularyR .sub #input{
    width: 100%;
    margin: 1%;
    padding: 4%;
    border-radius: 12px;
    border: none;
}

#name, #surname, #date, #select, #email, #password{
    width: 100%;
    margin: 1%;
    padding: 10px;
    border-radius: 12px;
    border: none;
    box-sizing: border-box;
}

.mainRegister .formularyRegister .check{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 6% 0 6%; 
}

.mainRegister .formularyRegister .check #checkbox{
    width: 10%;
}


