* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

header {
    background-color: black;
    padding: 5%;
    padding-top: 9%;
    padding-bottom: 9%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header .logoPrincipal {
    width: 30%;
    margin-right: 20%;
}

header .logoPrincipal img {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white
}

.menu {
    list-style: none;
    display: none;
    margin: 0;
    padding: 0;
    background: black;
    top: 60px;
    position: absolute;
    left: 0;
    width: 100%;
}

.menu li {
    border-top: 1px solid white;
}

.menu li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px;
}

.menu li a:hover {
    background: rgb(255, 208, 0);
    color: black;
}

/* Ocultamos el checkbox */
#menu-toggle {
    display: none;
}

/* Icono hamburguesa */
.bi-list {
    font-size: 1.8rem;
    cursor: pointer;
    color: rgb(255, 208, 0);
}

/* Cuando el checkbox está activado, mostramos el menú */
#menu-toggle:checked + .bi-list + .menu {
    display: block;
}

footer{
    display: none;
}

@media screen and (min-width:768px){
    header .login .buttonLogin{
        font-size: 18px;
    }
}

@media screen and (min-width:1024px){

}
