* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(36, 36, 36);
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .logoPrincipal {
    width: 30%;
    margin-right: 20%;
}

header .logoPrincipal img {
    width: 100%;
}

header .login {
    width: 30%;
    margin: 1%;
}

header .login .buttonLogin{
    background-color: rgb(36, 36, 36);
    border-color: white;
    padding: 15%;
    border-style: solid;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .login .buttonLogin a{
    text-decoration: none;
    color: white;
}

header .navegation {
    width: 14%;
    display: flex;
    flex-direction: row-reverse;
}

header .navegation .listIcon{
    color: white;
    background: none;
    border-style: none;
    font-size: 40px;
}

footer{
    display: none;
}

@media screen and (min-width:768px){
    header .login .buttonLogin{
        padding: 10%;
        font-size: 18px;
    }
}

@media screen and (min-width:1024px){

}
