.product .description h2{
    padding: 2% ;
    text-align: center;
    background-color: rgb(153, 153, 153);
}

.product img{
    width: 100%;
}

.product .size{
    padding: 2%;
    background-color: rgb(153, 153, 153);
}

.product .detail{
    padding: 4%;
    text-align: center;
    color: white;
    background-color: black;
    border-style: solid ;
    border-left: none;
    border-right: none;
    border-width: 20px;
    border-color: rgb(255, 208, 0);
}

.product .buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.product .buttons a{
    text-decoration: none;
    color: white;
    background-color: black;
    width: 80%;
    text-align: center;
    padding: 3%;
    margin: 4%;
    border-style: solid;
    border-color: rgb(255, 208, 0);
    border-radius: 10px;
    border-width: 2px;
}

.product .buttons a:active {
    background-color: rgb(255, 208, 0);
    border-color: rgb(255, 208, 0);
    color: black;
}

.buttons .carrito-btn {
    width: 80%;
    padding: 3%;
    margin: 4px;
    background: black;
    color: white;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: rgb(255, 208, 0);
}

#carrito-toggle {
  display: none;
}

aside {
  position: fixed;
  top: 0;
  right: -400px;
  width: 200px;
  height: 100%;
  background: black;
  color: white;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  transition: right 0.3s ease;
  z-index: 100;
}

#carrito-toggle:checked ~ aside {
  right: 0;
}

.cerrar {
  display: block;
  margin-bottom: 20px;
  background: red;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.473);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 50;
}

#carrito-toggle:checked ~ .overlay {
  opacity: 1;
  pointer-events: all;
}






