<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    <header class="headerCart">
        <div class="back">
            <a href="/products/detail" aria-label="comeBackDetail">
                <i class="bi bi-arrow-left"></i>
            </a>
        </div>
        <div class="title">
            <h1 class="cartTitle">Mi Carrito</h1>
        </div>
    </header>

    <main>
        <div class="products">
            <img src="/images/cart.png" alt="Cart">
        </div>
        <p>¡Es hora de llenar ese carrito!</p>
    </main>

    <%- include('../partials/footer') %>

</body>
</html>