<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
    
    <main>
        <h1 class="titleProdD">Olmo Wish R29</h1>
        <div class="productD">
            <img src="../images/OlmoNaranja.jpg" alt="product">
        </div>

        <div class="infoPriceAndUserD">
            <div class="priceD">
                <div class="lastPriceD">
                    $500.000
                </div>
                <div class="nowPriceD">
                    $420.000
                </div>
            </div>
    
            <div class="infoUserD">
                <div class="userD">
                    Vendido por:<strong>User</strong>
                </div>
                <div class="clasificationD">
                    ⭐⭐⭐⭐⭐
                </div>
            </div>
        </div>

        <section class="btnD">
            <a href="#">Comprar</a>
            <a href="productCart.html">Agregar al carrito</a>
        </section>

        <section class="infoProductD">
            <h2>Descripción</h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque illum recusandae amet culpa consectetur! Sed maxime exercitationem architecto voluptatum rem illum laudantium saepe molestias, commodi rerum enim vitae! Deserunt, maxime.
            </p>
        </section>

        <section class="comentaryUsersD">
            <h2>Reseñas</h2>
            <div class="userComentD">
                <span class="imageProfileD">
                    <img src="../images/images.png" alt="imageProfile">
                </span>
                <div class="userNameD">
                    <div class="nameD">
                        User (Hace 17 horas)
                    </div>
                    <div class="clasificationD">
                        ⭐⭐⭐⭐⭐
                    </div>
                </div>
            </div>

            <div class="publicComentary">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit aliquid ducimus atque. A recusandae voluptates facere mollitia voluptate temporibus ullam hic, reiciendis officia neque dolore vitae incidunt voluptatum distinctio exercitationem.
            </div>
        </section>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>