<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %>
    
    <main>
        <h1>Celular Nubia Neo 2 6.7 5G 8GB Ram 256 GB</h1>
        <div class="product">
            <img src="../images/foto_nubia_neo2_amarillo.webp" alt="product">
        </div>

        <div class="infoPriceAndUser">
            <div class="price">
                <div class="lastPrice">
                    $500.000
                </div>
                <div class="nowPrice">
                    $420.000
                </div>
            </div>
    
            <div class="infoUser">
                <div class="user">
                    Vendido por:<strong>User</strong>
                </div>
                <div class="clasification">
                    ⭐⭐⭐⭐⭐
                </div>
            </div>
        </div>

        <section class="btn">
            <a href="#">Comprar</a>
            <a href="productCart.html">Agregar al carrito</a>
        </section>

        <section class="infoProduct">
            <h2>Descripción</h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque illum recusandae amet culpa consectetur! Sed maxime exercitationem architecto voluptatum rem illum laudantium saepe molestias, commodi rerum enim vitae! Deserunt, maxime.
            </p>
        </section>

        <section class="comentaryUsers">
            <h2>Reseñas</h2>
            <div class="userComent">
                <div class="imageProfile">
                    <img src="../images/fondo2.png" alt="imageProfile">
                </div>
                <div class="userName">
                    <div class="name">
                        User
                    </div>
                    <div class="clasification">
                        ⭐⭐⭐⭐⭐
                    </div>
                </div>

            </div>

            <div class="publicComentary">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit aliquid ducimus atque. A recusandae voluptates facere mollitia voluptate temporibus ullam hic, reiciendis officia neque dolore vitae incidunt voluptatum distinctio exercitationem.
            </div>
        </section>
    </main>

    <%- include('../partials/footer') %>
    
</body>
</html>